<ion-navbar *navbar>
    <ion-title>Hero Search</ion-title>
</ion-navbar>

<ion-content padding class="heroSearch">
    <ion-list>
        <ion-item>
            <ion-label>Name</ion-label>
            <ion-input type="text" #heroName (keydown.enter)="searchHeroes(heroName.value)" (keyup)="noneFound = false"></ion-input>
        </ion-item>
        <br />

        <ion-item *ngIf="noneFound">
            <p>
                <i>No results found for "{{ heroName.value }}"</i>
            </p>
        </ion-item>

        <ion-item *ngFor="#hero of foundHeroes" (click)="showHeroDetailModal(hero)">
            <ion-avatar item-left>
                <img src="{{ hero.thumbnail.path }}.{{ hero.thumbnail.extension }}">
            </ion-avatar>
            <h2>{{ hero.name }}</h2>
        </ion-item>
    </ion-list>

    <span *ngIf="attributionLink && noneFound == false" [innerHTML]="attributionLink"></span>
</ion-content>