<ion-toolbar class="android-attr">
    <ion-title>Hero Detail</ion-title>
    <ion-buttons start>
        <button (click)="dismiss()">
            <span primary showWhen="ios">Cancel</span>
            <ion-icon name="close" showWhen="android"></ion-icon>
        </button>
    </ion-buttons>
</ion-toolbar>

<ion-content class="has-header">
    <ion-list>
        <ion-item>
            <img src="{{ hero.thumbnail.path }}.{{ hero.thumbnail.extension }}">
            <h2>{{ hero.name }}</h2>
            <div [ngSwitch]="hero.description" class="heroDetail">
                <template ngSwitchWhen="">
                    <p>
                        <i>No description found</i>
                    </p>
                </template>
                <p *ngSwitchDefault>{{ hero.description }}</p>
            </div>

            <br>
            <h3>Appeared in series:</h3>
            <div *ngFor="#series of hero.series.items">
                <p class="heroDetail">
                    - {{ series.name }}
                </p>
            </div>
        </ion-item>
    </ion-list>
</ion-content>