<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Heroes" tabIcon="search"></ion-tab>
  <!--<ion-tab [root]="tab2Root" tabTitle="Tab 2" tabIcon="chatbubbles"></ion-tab>-->
  <!--<ion-tab [root]="tab3Root" tabTitle="Tab 3" tabIcon="cog"></ion-tab>-->
</ion-tabs>
